@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222;
}

body {
  font-family: "Nanum Gothic";
  font-weight: 400;
  color: #222;
}
.wrap {
  letter-spacing: -0.05em;
  width: 1152px;
  margin: 0 auto;
  position: relative;
}
.wrap.active {
  transform: translateY(-91px);
  transition: all 0.5s;
}

/* ad */
.ad {
  position: relative;
  display: block;
  height: 91px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  transition: all 0.5s;
}
.ad.active {
  transform: translateY(-91px);
}
.ad a {
  width: 100%;
  height: 100%;
}
.ad > a > img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  overflow: hidden;
}
.ad .close {
  position: absolute;
  right: 50%;
  bottom: 5px;
  width: 150px;
  margin-right: -576px;
  padding: 3px 2px 5px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.ad .close label {
  color: #fff;
  font-size: 12px;
}
.ad .close .close-btn {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("../images/btnX.png") no-repeat;
  background-size: 50% auto;
  vertical-align: middle;
  background-position: 50% 50%;
}

/* 헤더 */
.header {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
}
.header-logo a {
  display: block;
  width: 105px;
  height: 27px;
  background: url("../images/common.png") no-repeat -5px -167px;
}
.header-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}
.gnb > li {
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}
.other {
  display: flex;
  margin-right: 10px;
}
.other > li {
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
}

/* search */
.search {
  display: flex;
  position: relative;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.search-slogan {
  width: 133px;
  height: 51px;
}
.search-slogan a {
  display: block;
  width: 133px;
  height: 100%;
  background: url("../images/slogan.png") no-repeat;
}
.search-box {
  width: 100%;
  margin-left: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-inp {
  width: 520px;
  height: 42px;
  border: 3px solid #2292e9;
  position: relative;
}
.search-inp input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 10px;
}
.search-inp input::placeholder {
  color: #2292e9;
}
.search-inp-img {
  background: url("../images/common.png") no-repeat -32px -97px;
  width: 36px;
  height: 36px;
  position: absolute;
  right: 0;
  top: 0;
}
.search-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.search-weather-img {
  background: url("../images/weather.png");
  width: 58px;
  height: 47px;
  margin-right: 5px;
}
.search-weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-weather-info-up {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search-weather-info-up > strong {
  font-size: 25px;
  margin-right: 10px;
}
.search-weather-info-down {
  margin-top: 7px;
  font-size: 13px;
}
.search-weather-info-down span {
  color: #2292e9;
}
.search-lang {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 21px;
}
.search-lang-select {
  width: 90px;
  height: 100%;
  border: 1px solid #afcfea;
  outline: none;
  color: #1e6cb3;
  font-size: 12px;
  font-weight: lighter;
}
.search-lang-btn {
  width: 30px;
  font-size: 11px;
  color: white;
  background-color: #1e6cb3;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* banner */
.banner {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-left {
  display: flex;
  align-items: center;
  width: 770px;
  height: 100%;
}
.banner-left-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 100%;
}
.banner-left-btn-up {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #d2e1e9;
}
.banner-left-btn-up.active {
  background-color: #0158a8;
  color: white;
}
.banner-left-btn-up.active::after {
  content: " ";
  position: absolute;
  z-index: 10;
  left: 99%;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 32px;
  border-color: transparent transparent transparent #0158a8;
  margin-top: -25px;
}
.banner-left-btn-up-img {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}
.banner-left-btn-up-img > div {
  width: 100%;
  height: 100%;
  background: url("../images/icons.png") no-repeat 0 0;
}
.banner-left-btn-up-txt {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
.banner-left-btn-down {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #d2e1e9;
}
.banner-left-btn-down.active {
  background-color: #0158a8;
  color: white;
}
.banner-left-btn-down.active::after {
  content: " ";
  position: absolute;
  z-index: 10;
  left: 99%;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 32px;
  border-color: transparent transparent transparent #0158a8;
  margin-top: -25px;
}
.banner-left-btn-down-img {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}
.banner-left-btn-down-img > div {
  width: 100%;
  height: 100%;
  background: url("../images/icons.png") no-repeat -48px 0;
}
.banner-left-btn-down-txt {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
/* swiper */
.banner-left-slide {
  position: relative;
  width: 690px;
  height: 350px;
}
.swiper {
  width: 690px;
  height: 350px;
}
.swiper-slide {
  width: 690px;
  height: 350px;
  background-color: yellow;
  position: relative;
}
.swiper-slide > img {
  width: 100%;
  height: 100%;
}
.swiper-slide > .slide-txt {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  line-height: 40px;
  color: white;
  overflow: hidden;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}
.swiper-control {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 40px;
  color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.swiper-control-page {
  width: 36px;
  font-size: 14px;
  border-right: 1px solid #fff;
}

.swiper-control-pre {
  width: 20px;
  height: 20px;
  background: url("../images/common2.png") no-repeat -242px -282px;
}
.swiper-control-play {
  width: 20px;
  height: 20px;
  background: url("../images/common2.png") no-repeat;
  background-position: -282px -282px;
}
.swiper-control-play.active {
  background-position: -269px -282px;
}
.swiper-control-next {
  width: 20px;
  height: 20px;
  background: url("../images/common2.png") no-repeat -255px -282px;
}

/* ----------------- */
.banner-right {
  width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: yellow;
}
.banner-right-top {
  width: 100%;
  height: 36px;
  background-color: blue;
}
.banner-right-mid {
  width: 100%;
  height: 200px;
  background-color: violet;
}
.banner-right-bot {
  width: 100%;
  height: 90px;
  background-color: turquoise;
}
