@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: "Nanum Gothic";
  font-weight: 400;
  color: #222;
}
.wrap {
  letter-spacing: -0.05em;

}

/* ad */
.ad {
  position: relative;
  display: block;
  height: 91px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  transition: all 0.5s;
}
.ad.active {
  transform: translateY(-91px);

}
.ad a {
  width: 100%;
  height: 100%;
}
.ad > a > img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  overflow: hidden;
}
.ad .close {
  position: absolute;
  right: 50%;
  bottom: 5px;
  width: 150px;
  margin-right: -576px;
  padding: 3px 2px 5px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.ad .close label {
  color: #fff;
  font-size: 12px;
}
.ad .close .close-btn {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url('../images/btnX.png') no-repeat;
  background-size: 50% auto;
  vertical-align: middle;
  background-position: 50% 50%;
}

/* 헤더 */
