@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222;
}

body {
  font-family: "Nanum Gothic";
  font-weight: 400;
  color: #222;
}
.wrap {
  letter-spacing: -0.05em;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
}
.wrap.active {
  transform: translateY(-91px);
  transition: all 0.5s;
}

/* ad */
.ad {
  position: relative;
  display: block;
  height: 91px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  transition: all 0.5s;
  overflow: hidden;
}
.ad.active {
  transform: translateY(-91px);
}
.ad a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.ad > a > img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  overflow: hidden;
}
.ad .close {
  position: absolute;
  right: 50%;
  bottom: 5px;
  width: 150px;
  margin-right: -576px;
  padding: 3px 2px 5px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.ad .close label {
  color: #fff;
  font-size: 12px;
}
.ad .close .close-btn {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("../images/btnX.png") no-repeat;
  background-size: 50% auto;
  vertical-align: middle;
  background-position: 50% 50%;
}
@media (max-width: 1024px) {
  .ad {
    display: none;
  }
}

/* 헤더 */
.header {
  width: 1152px;
  margin: 0 auto;
  display: flex;
  height: 48px;
  align-items: center;
}
.header-logo a {
  display: block;
  width: 105px;
  height: 27px;
  background: url("../images/common.png") no-repeat -5px -167px;
}
.header-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}
.gnb > li {
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}
.gnb > li > a:hover {
  color: #2292e9;
}
.other {
  display: flex;
  margin-right: 10px;
}
.other > li {
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
}
.other > li a:hover {
  color: #2292e9;
}

@media (max-width: 1024px) {
  .header {
    display: none;
  }
}

/* search */
.search {
  display: flex;
  position: relative;
  width: 1152px;
  margin: 0 auto;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.search-slogan {
  width: 133px;
  height: 51px;
}
.search-slogan a {
  display: block;
  width: 133px;
  height: 100%;
  background: url("../images/slogan.png") no-repeat;
}
.search-box {
  width: 100%;
  margin-left: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-inp {
  width: 520px;
  height: 42px;
  border: 3px solid #2292e9;
  position: relative;
}
.search-inp input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 10px;
  outline: none;
}
.search-inp input::placeholder {
  color: #2292e9;
}
.search-inp-img {
  background: url("../images/common.png") no-repeat -32px -97px;
  width: 36px;
  height: 36px;
  position: absolute;
  right: 0;
  top: 0;
}
.search-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.search-weather-img {
  background: url("../images/weather.png");
  width: 58px;
  height: 47px;
  margin-right: 5px;
}
.search-weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-weather-info-up {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search-weather-info-up > strong {
  font-size: 25px;
  margin-right: 10px;
}
.search-weather-info-down {
  margin-top: 7px;
  font-size: 13px;
}
.search-weather-info-down span {
  color: #2292e9;
}
.search-lang {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 21px;
}
.search-lang-select {
  width: 90px;
  height: 100%;
  border: 1px solid #afcfea;
  outline: none;
  color: #1e6cb3;
  font-size: 12px;
  font-weight: lighter;
}
.search-lang-btn {
  width: 30px;
  font-size: 11px;
  color: white;
  background-color: #1e6cb3;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-mlogo,
.search-menu {
  display: none;
}
@media (max-width: 1024px) {
  .search {
    width: 100%;
    height: 90px;
    background-color: #0d82eb;
  }
  .search-box {
    margin: 0 10px;
    flex-direction: column;
  }
  .search-menu {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("../images/icon_menu.png") no-repeat 50% 50%;
    background-size: 21px auto;
    top: 8px;
    left: 13px;
  }
  .search-mlogo {
    display: block;
    width: 97.5px;
    height: 18.5px;
    margin: 10px 0;
  }
  .search-mlogo a {
    width: 100%;
    height: 100%;
  }
  .search-mlogo a img {
    width: 100%;
    height: 100%;
  }
  .search-inp {
    width: 100%;
  }
  .search-lang,
  .search-weather,
  .search-slogan {
    display: none;
  }
}

/* banner */
.banner {
  width: 1152px;
  margin: 0 auto;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-left {
  display: flex;
  align-items: center;
  width: 770px;
  height: 100%;
}
.banner-left-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 100%;
}
.banner-left-btn-up {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #d2e1e9;
}
.banner-left-btn-up.active {
  background-color: #0158a8;
  color: white;
}
.banner-left-btn-up.active::after {
  content: " ";
  position: absolute;
  z-index: 10;
  left: 99%;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 32px;
  border-color: transparent transparent transparent #0158a8;
  margin-top: -25px;
}
.banner-left-btn-up-img {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}
.banner-left-btn-up-img > div {
  width: 100%;
  height: 100%;
  background: url("../images/icons.png") no-repeat 0 0;
}
.banner-left-btn-up-txt {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
.banner-left-btn-down {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #d2e1e9;
}
.banner-left-btn-down.active {
  background-color: #0158a8;
  color: white;
}
.banner-left-btn-down.active::after {
  content: " ";
  position: absolute;
  z-index: 10;
  left: 99%;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 32px;
  border-color: transparent transparent transparent #0158a8;
  margin-top: -25px;
}
.banner-left-btn-down-img {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}
.banner-left-btn-down-img > div {
  width: 100%;
  height: 100%;
  background: url("../images/icons.png") no-repeat -48px 0;
}
.banner-left-btn-down-txt {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
/* swiper */
.banner-left-slidewrap {
  position: relative;
  width: 690px;
  height: 350px;
}
.mySwiper {
  width: 690px;
  height: 350px;
}
.banner-slide {
  width: 690px;
  height: 350px;
  position: relative;
}
.banner-slide > img {
  width: 100%;
  height: 100%;
}
.banner-slide > .slide-txt {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  line-height: 40px;
  color: white;
  overflow: hidden;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}
.swiper-control {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 40px;
  color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.swiper-control-page {
  width: 36px;
  font-size: 14px;
  border-right: 1px solid #fff;
}
.swiper-control-pre {
  width: 20px;
  height: 20px;
  background: url("../images/common2.png") no-repeat -242px -282px;
}
.swiper-control-play {
  width: 20px;
  height: 20px;
  background: url("../images/common2.png") no-repeat;
  background-position: -282px -282px;
}
.swiper-control-play.active {
  background-position: -269px -282px;
}
.swiper-control-next {
  width: 20px;
  height: 20px;
  background: url("../images/common2.png") no-repeat -255px -282px;
}

/* ----------------- */
.banner-right {
  width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.banner-right-top {
  width: 100%;
  height: 36px;
  background-color: #99ddf4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}
.banner-right-top h3 {
  font-weight: 900;
  font-size: 15px;
}
.banner-right-top-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #319ac6;
  height: 21px;
  color: #fff;
  border-radius: 5px;
  padding-left: 5px;
}
.banner-right-top-box > div > span {
  font-weight: bold;
}
.banner-right-top-box-all {
  margin-left: 5px;
  background-color: #000;
  height: 21px;
  font-size: 13px;
  padding: 0 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-right-top-time {
  font-size: 12px;
  font-weight: bold;
}
.banner-right-mid {
  width: 100%;
  height: 200px;
  background: url("../images/banner-mid.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}
.banner-right-mid div {
  position: absolute;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  left: 0;
}
.banner-right-bot {
  width: 100%;
  height: 90px;
  position: relative;
  background: url("../images/banner-bot.png") no-repeat;
}
.banner-right-bot a {
  display: block;
  width: 100%;
  height: 100%;
}
.banner-right-bot img {
  position: absolute;
  top: 18px;
  right: 14px;
}
.banner-right-bot-list {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 26px;
  z-index: 1;
}
.banner-right-bot-list li {
  width: calc(25% - 1px);
  height: 100%;
  background-color: #8b7153;
}
.banner-right-bot-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 12px;
}
@media (max-width: 1024px) {
  .banner {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
  }
  .banner-left {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .banner-left-btn {
    flex-direction: row;
    width: 100%;
    height: 40px;
  }
  .banner-left-btn-up,
  .banner-left-btn-down {
    height: 100%;
  }
  .banner-left-btn-up-img,
  .banner-left-btn-down-img {
    display: none;
  }
  .banner-left-btn-up-txt,
  .banner-left-btn-down-txt {
    margin: 0;
  }
  .banner-left-btn-up.active::after,
  .banner-left-btn-down.active::after {
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    border-width: 20px 20px 0 20px;
    border-color: #0158a8 transparent transparent transparent;
  }
  .banner-left-slidewrap {
    width: 100%;
    height: 100%;
  }
  .mySwiper {
    width: 100%;
    height: 100%;
  }
  .banner-slide {
    width: 100%;
    height: 100%;
  }
  .banner-right {
    width: 100%;
  }
  .banner-right-top {
    justify-content: center;
    gap: 20px;
  }
  .banner-right-mid,
  .banner-right-bot {
    display: none;
  }
}

/* service */
.service {
  width: 1152px;
  margin: 0 auto;
  padding-top: 50px;
}
.service-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
}
.service-title > h2 {
  padding-bottom: 10px;
  font-size: 24px;
}
.service-title-all {
  position: absolute;
  width: 112px;
  height: 29px;
  border: 1px solid #ddd;
  left: 140px;
  top: 0px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-title-all > span {
  margin-left: 10px;
}
.service-title-img {
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.service-title-img::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 83px;
  width: 1px;
  height: 16px;
  background: #dbdbdb;
}
.service-title-img-left {
  height: 30px;
  width: 65px;
  background: url("../images/serviceimg.png") no-repeat 0 0;
}
.service-title-img-left:hover {
  background-position: 0 -30px;
}
.service-title-img-right {
  height: 30px;
  width: 100px;
  background: url("../images/serviceimg.png") no-repeat -65px 0;
}
.service-title-img-right:hover {
  background-position: -65px -30px;
}
.service-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  margin-top: 20px;
}
.service-link-item {
  display: block;
  width: auto;
  height: 100%;
}
.service-link-item > a {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service-link-item-icon {
  width: 60px;
  height: 60px;
  background: url("../images/serviceicon.png") no-repeat;
  transition: all 0.3s;
}
.service-link-item-icon:hover {
  transform: scale(1.2);
}
.service-link-item > a > p {
  font-size: 15px;
  margin-top: 10px;
}
.item1 {
  background-position: -360px 0;
}
.item2 {
  background-position: 0 0;
}
.item3 {
  background-position: -120px 0;
}
.item4 {
  background-position: -300px 0;
}
.item5 {
  background-position: -180px 0;
}
.item6 {
  background-position: -960px 0;
}
.item7 {
  background-position: -780px 0;
}
.item8 {
  background-position: -1140px 0;
}
.item9 {
  background-position: -1020px 0;
}
.item10 {
  background-position: -60px 0;
}
.item11 {
  background-position: -1080px 0;
}
.item12 {
  background-position: -600px 0;
}
@media (max-width: 1024px) {
  .service {
    display: none;
  }
}
/* part */
.part {
  background-color: #eff4f8;
  width: 100%;
  margin-top: 35px;
}
.partwrap {
  width: 1152px;
  margin: 0 auto;
}
.part-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.part-list-item {
  width: 230px;
  height: 110px;
  padding: 20px 0;
}
.part-list-item:first-child a {
  border-left: none;
}
.part-list-item a {
  display: block;
  width: 100%;
  height: 100%;
  border-left: 1px solid #dbdbdb;
}
.part-list-item a img {
  width: 230px;
  height: 70px;
}

@media (max-width: 1024px) {
  .part {
    margin: 0;
  }
  .partwrap {
    width: 100%;
  }
  .part-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(184px, auto));
    justify-content: stretch;
  }
  .part-list-item {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .part-list-item a {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .part-list-item a img {
    width: 184px;
    height: 56px;
  }
}

/* notice */
.notice {
  width: 1152px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.notice-box {
  width: 360px;
  position: relative;
}
.notice-box > h2 {
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #dbdbdb;
}
.notice-box:last-child > h2 {
  border: none;
}
.notice-box-list li {
  padding: 6px 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice-box-list li b {
  font-size: 15px;
  margin-right: 9px;
  font-weight: normal;
}
.notice-cul {
  color: #9b64d3;
}
.notice-eco {
  color: #069363;
}
.notice-env {
  color: #599100;
}
.notice-work {
  color: #028ab6;
}
.notice-box-list li a {
  font-size: 15px;
  color: #222;
}
.notice-box-btn {
  position: absolute;
  right: 0;
  top: 6px;
  width: 22px;
  height: 20px;
  border: 1px solid #ddd;
  background: url("../images/common.png") no-repeat -1px -1px;
}
.notice-box-btn a {
  width: 100%;
  height: 100%;
}
.notice-box-often {
  padding: 17px 5px 7px 20px;
  background-color: #eff4f8;
}
.notice-box-often::after {
  content: "";
  display: block;
  clear: both;
}
.notice-box-often li {
  width: 50%;
  position: relative;
  padding: 0 0 10px 10px;
  float: left;
}
.notice-box-often li::before {
  content: "";
  position: absolute;
  background: #666666;
  width: 2px;
  height: 2px;
  left: 0;
  top: 50%;
  margin-top: -6px;
}
.notice-box-often li a {
  display: block;
  width: 94%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  color: #333;
}
/* category */
.category {
  display: block;
  position: relative;
  width: 1152px;
  padding-top: 40px;
  border-top: 2px solid #222;
  margin: 0 auto;
}
.category > h2 {
  font-style: 24px;
}
.category-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 60px;
}
.category-list li {
  width: 85px;
  height: 145px;
}
.category-list li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.category-list li a div {
  transition: all 0.2s;
}
.category-list li:hover a div {
  transform: scale(1.2);
}
.category-list li a p {
  font-size: 16px;
}
.category-list-house div {
  width: 100%;
  height: 100%;
  background: url("../images/icon_house.png") no-repeat center;
}
.category-list-economy div {
  width: 100%;
  height: 100%;
  background: url("../images/icon_economy.png") no-repeat center;
}
.category-list-traffic div {
  width: 100%;
  height: 100%;
  background: url("../images/icon_traffic.png") no-repeat center;
}
.category-list-env div {
  width: 100%;
  height: 100%;
  background: url("../images/icon_environment.png") no-repeat center;
}
.category-list-welfare div {
  width: 100%;
  height: 100%;
  background: url("../images/icon_welfare.png") no-repeat center;
}
.category-list-safty div {
  width: 100%;
  height: 100%;
  background: url("../images/icon_safty.png") no-repeat center;
}
.category-list-culture div {
  width: 100%;
  height: 100%;
  background: url("../images/icon_culture.png") no-repeat center;
}
.category-list-work div {
  width: 100%;
  height: 100%;
  background: url("../images/icon_work.png") no-repeat center;
}

/* news */
.news {
  width: 1152px;
  padding: 50px 0 30px;
  margin: 0 auto;
}
.news-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.news-title h2 {
  font-size: 24px;
}
.news-title a {
  font-size: 15px;
  color: #7d7d7d;
}
.news-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.news-list li {
  width: 273px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.news-list li a {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.news-list li a > div {
  width: 100%;
  overflow: hidden;
  height: 188px;
  margin-bottom: 15px;
}
.news-list li a img {
  width: 100%;
  height: 188px;
  transition: all 0.5s;
}
.news-list li:hover a img {
  transform: scale(1.1);
}
.news-list li a p {
  font-size: 16px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: normal;
  color: #222;
  word-break: keep-all;
}
.news-list li a h3 {
  position: absolute;
  left: 0;
  top: 156px;
  width: 82px;
  height: 32px;
  color: #fff;
  z-index: 1;
  font-size: 14px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* seoul */
.seoul {
  width: 1152px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 50px;
  border-bottom: 2px solid #222;
}
.seoul-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 780px;
}
.seoul-main-left {
  width: 280px;
}
.seoul-main-left h2 {
  font-size: 24px;
  padding-bottom: 11px;
}
.seoul-main-left-link {
  width: 280px;
  height: 152px;
  overflow: hidden;
}
.seoul-main-left-link a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.seoul-main-left-link a img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.seoul-main-left-link:hover a img {
  transform: scale(1.1);
}
.seoul-main-left-link a div {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 20px;
  display: flex;
  align-items: center;
}
.seoul-main-right {
  width: 480px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 191px;
}
.seoul-main-right-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 152px;
}
.seoul-main-right-list li {
  width: 100%;
  color: #555;
}
.seoul-main-right-list li a {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  gap: 18px;
}
.seoul-main-right-list-cate {
  color: #09ac43;
  font-weight: 400;
  font-size: 16px;
}
.seoul-main-right-list-txt {
  font-size: 16px;
  font-weight: 400;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.seoul-sns {
  position: relative;
  width: 350px;
  height: 195px;
  background: url("../images/seoulsns.gif");
}
.seoul-sns > .seoul-sns-box {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 1.2;
  padding: 10px 15px;
  font-weight: 700;
}
.seoul-sns > .seoul-sns-box > h2 {
  display: inline-block;
  position: relative;
  padding-right: 50px;
  color: #222;
  font-size: 22px;
  font-weight: 600;
}
.seoul-sns > .seoul-sns-box > h2::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  display: inline-block;
  width: 34px;
  height: 24px;
  background: url("../images/snsicon.png") no-repeat -247px 0;
  border-left: 1px solid #878787;
  padding-right: 6px;
}
.seoul-sns-box-list {
  position: absolute;
  top: 90px;
  left: 50%;
  width: 276px;
  height: 40px;
  margin-left: -138px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.seoul-sns-box-list li {
  width: 40px;
  height: 40px;
}
.seoul-sns-box-list li a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/snsicon.png") no-repeat 0 0;
}
.seoul-sns-box-list li .facebook {
  background-position: -40px 0;
}
.seoul-sns-box-list li .twitter {
  background-position: -80px 0;
}
.seoul-sns-box-list li .blog {
  background-position: -120px 0;
}
.seoul-sns-box-list li .youtube {
  background-position: -160px 0;
}
.seoul-sns-box-list li .kakao {
  background-position: -200px 0;
}

/* event */
.event {
  width: 1152px;
  padding: 50px 0;
  margin: 0 auto;
}
.mySwiper2 {
  width: 1152px;
  height: 122px;
  overflow: hidden;
}
.event-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.event-slide-img {
  width: 355px;
  height: 122px;
  background-color: yellowgreen;
}
.event-slide-img a {
  width: 100%;
  height: 100%;
}
.event-slide-img a img {
  width: 100%;
  height: 100%;
}
.event-control {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 32px;
  margin-top: 5px;
}
.event-control > .event-control-page {
  width: auto;
  margin-right: 5px;
}
.event-control div:not(:first-child) {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  width: 20px;
  height: 20px;
}
.event-control-pre {
  background: url("../images/common.png") no-repeat -45px -43px;
}
.event-control-play {
  background: url("../images/common.png") no-repeat -65px -44px;
}
.event-control-play.active {
  background: url("../images/common.png") no-repeat -101px -44px;
}
.event-control-next {
  background: url("../images/common.png") no-repeat -86px -43px;
}

/* 링크 */
.link {
  width: 1152px;
  margin: 0 auto 20px;
}
.link-list {
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
}
.link-list li {
  width: 20%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  color: #333;
  cursor: pointer;
}
.link-list li:not(:first-child) {
  border-left: 1px solid #dbdbdb;
}
.link-list li p {
  position: relative;
  font-size: 14px;
  padding-right: 20px;
  display: inline-block;
}
.link-list li p::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0px;
  height: 7px;
  width: 7px;
  border-style: solid;
  border-color: #373737;
  border-width: 0px 2px 2px 0px;
  transform: rotate(-135deg);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: center center;
}
/* 푸터 */
.footer {
  width: 1152px;
  margin: 0 auto;
}
.footer-up {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.footer-up-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}
.footer-up-list li {
  padding: 0 10px;
}
.footer-up-list li:not(:first-child) {
  border-left: 1px solid #dcdccd;
}
.footer-up-list .bold {
  font-weight: bold;
  color: #222;
}
.footer-up-list li a {
  font-size: 12px;
  color: #636363;
}
.footer-up-sns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.footer-up-sns li {
  width: 24px;
  height: 24px;
}
.footer-up-sns li a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/footericons.png") no-repeat 0 0;
}

.footer-up-sns .footer-up-facebook a {
  background-position: -25px 0;
}
.footer-up-sns .footer-up-facebook a:hover {
  background-position: -25px -25px;
}
.footer-up-sns .footer-up-twitter a {
  background-position: -50px 0;
}
.footer-up-sns .footer-up-twitter a:hover {
  background-position: -50px -25px;
}
.footer-up-sns .footer-up-insta a {
  background-position: -75px 0;
}
.footer-up-sns .footer-up-insta a:hover {
  background-position: -75px -25px;
}
.footer-up-sns .footer-up-kakao a {
  background-position: -100px 0;
}
.footer-up-sns .footer-up-kakao a:hover {
  background-position: -100px -25px;
}
.footer-up-sns .footer-up-youtube a {
  background-position: -125px 0;
}
.footer-up-sns .footer-up-youtube a:hover {
  background-position: -125px -25px;
}
.footer-up-sns .footer-up-blog a {
  background-position: -150px 0;
}
.footer-up-sns .footer-up-blog a:hover {
  background-position: -150px -25px;
}

.footer-down {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
}
.footer-down-left {
  display: flex;
  align-items: center;
  justify-content: start;
}
.footer-down-left-img {
  width: 108px;
  height: 45px;
  margin-right: 40px;
  background: url("../images/common.png") no-repeat -180px 0;
}
.footer-down-left-info {
  font-size: 12px;
  color: #636363;
  font-weight: 500;
}
.footer-down-left-info li {
  padding-bottom: 2px;
}
.footer-down-left-info li a {
  color: #636363;
}
.footer-down-right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
